.place__url-heading{
    margin:0 0 12px 16px;
    padding: 0;
    color: #AAAAAA;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .place__url-heading{
        margin: 0 0 12px 0;
    }
    
}